# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: "Chakra UI コンポーネント出力の VERIFY"

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  schedule:
    # 毎日 21:00(UTC) に実行
    - cron: "0 21 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"

      - run: npm ci

      # - run: npm run build --if-present

      # - run: npm test

      - name: chakra コンポーネント出力
        run: |
          make check
        working-directory: CI
